<footer class="footer section white">
    {% if (base_dir[1] == "en") %}
      <h2>Stay in contact</h2>
    {% else %}
      <h2>In Kontakt bleiben</h2>
    {% endif %}

    <div class="social-nav">
        <!-- Newsletter -->
        <ul>
            <li><div class="btn-wrap">
                {% if (base_dir[1] == "en") %}
                   <a class="edu-btn black" href="https://mailman.offene-werkstaetten.org/mailman/listinfo/hardware-offene-werkstaetten.org" target="_blank">Mailinglist</a>
                {% else %}
                   <a class="edu-btn black" href="https://mailman.offene-werkstaetten.org/mailman/listinfo/hardware-offene-werkstaetten.org" target="_blank">Mailingliste</a>
                {% endif %}
            </div></li>
        </ul>
        <br>
        <ul class="icons-list">
            <li><a class="icon black" href="mailto:hardware@prototypefund.de?Subject=[OHA Netzwerk]"><i class="icon-paper-plane-empty">&#xf1d9;</i></a></li>
            <li><a class="icon black" href="https://twitter.com/oshw_ger" target="_blank" ><i class="icon-twitter">&#xf099;</i></a></li>
            <li><a class="icon btn-github black" href="https://github.com/okfde/open-hardware-allianz" target="_blank" ><i class="icon-github">&#xf113;</i></a></li>
        </ul>

    </div>
    <div class="sponsors-nav">


        <div class="foot-links">
            {% if (base_dir[1] == "en") %}
              <a class="imprint simple-btn" target="_blank" href="https://okfn.de/impressum/">Imprint</a>
            {% else %}
              <a class="imprint simple-btn" target="_blank" href="https://okfn.de/impressum/">Impressum</a>
            {% endif %}
          <br>
        </div>
        {% if (base_dir[1] == "en") %}
          <div lass="cc-info">
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://raw.githubusercontent.com/fablabcb/fablabcb.github.io/master/assets/img/static/cc-by88x31.png" /></a><br/><p class="bold">Content on this website is licensed under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 Attribution unless otherwise noted.</a>
          </div>
          <div class="gdpr-message col-lg-offset-6 col-md-offset-6 col-xs-24 col-md-12 col-lg-12">
                      We do not use any cookies out of conviction. You can find our privacy policy in the <a  target="_blank" href="https://okfn.de/impressum/">imprint</a>.</p>
          </div>
        {% else %}
          <div lass="cc-info">
              <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://raw.githubusercontent.com/fablabcb/fablabcb.github.io/master/assets/img/static/cc-by88x31.png" /></a><br/><p class="bold">Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 Attribution lizenziert.</a>
          </div>
          <div class="gdpr-message col-lg-offset-6 col-md-offset-6 col-xs-24 col-md-12 col-lg-12">
                      Wir nutzen aus Überzeugung keinerlei Cookies. Unsere Datenschutzerklärung findet ihr im <a  target="_blank" href="https://okfn.de/impressum/">Impressum</a>.</p>
          </div>
        {% endif %}

    </div>
</footer>

        <!-- js libs -->
        <script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/isotope.pkgd.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/imagesloaded.pkgd.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/jquery.fitvids.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/logger.min.js"></script>

        <script src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/mustache.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/date.format.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/URI.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/jquery.lunr.search.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/trianglify.min.js"></script>

        <!-- js custom -->
        <script src="{{ site.baseurl }}/assets/js/modules/IsotopeController.js"></script>
        <script src="{{ site.baseurl }}/assets/js/main.js?v=2.0"></script>

        <script>
            jQuery(document).ready(function($) {
                $('#search-query').lunrSearch({
                  indexUrl  : '/js/index.json',           // url for the .json file containing search index data
                  results   : '#search-results',          // selector for containing search results element
                  template  : '#search-results-template', // selector for Mustache.js template
                  titleMsg  : '<h1>Search results<h1>',   // message attached in front of results (can be empty)
                  emptyMsg  : '<p>Nothing found.</p>'     // shown message if search returns no results
                });

               var drawRandomTeaser = function () {
                    $.each($('.project-teaser.random-image'), function(i,e) {
                        var pattern = Trianglify({
                                          height: 200,
                                          width: $(e).width(),
                                          cell_size: 30 + Math.random() * 100});
                        $('.teaser-image', this).html(pattern.canvas());
                    });
               }

               $(window).resize(drawRandomTeaser);
               drawRandomTeaser();

                $('.btn-rss').click(function () {
                    $('#rsslinks').fadeToggle(200);
                });

                window.controller = new Controller($);
                window.controller.init();

            });
        </script>

</body>
</html>
