<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/static/oha.ico">
    <link rel="stylesheet" href="/assets/main.css">
    <meta property="og:image" content="https://open-hardware-allianz.de/assets/img/static/logo_oshw.png" />
    <meta name="twitter:image" content="https://open-hardware-allianz.de/assets/img/static/logo_oshw.png" />

    {% seo %}

</head>
<body>
  <style>
  html {
    touch-action: manipulation;
}
  </style>
{% include header.liquid %}
{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
      {{#is_post}}
      <ul>
        {{#tags}}<li>{{.}} </li>{{/tags}}
      </ul>
      {{/is_post}}
    </article>
  {{/entries}}
</script>
{% endraw %}
<div class="page-wrap">
    <section id="search-results" style="display: none;"> </section>
    {{ content }}
</div>
{% include footer.liquid %}
