<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="www.open-hardware-allianz.de">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/static/oha.ico">
    <link rel="stylesheet" href="/assets/main.css">
    {% if page.url contains '/oer' %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{page.titel}}" />
    <meta name="twitter:description" content="{{page.desc}}" />
    <meta name="twitter:image" content="{{site.url}}/assets/img/static/logo_oha.png" />
    <title> {{ page.titel }}</title>
    <meta property="og:title" content="{{ page.titel }}" />
    <meta property="og:locale" content="de_DE" />
    <meta name="description" content="{{ page.desc }}" />
    <meta property="og:description" content="{{ page.desc }}" />
    <link rel="canonical" href="{{site.url}}{{ page.url }}" />
    <meta property="og:url" content="{{site.url}}{{ page.url }}" />
    <meta property="og:site_name" content="edulabs" />
    <meta property="og:image" content="{{site.url}}/assets/img/static/logo_oha.png" />
    <meta property="og:type" content="Open Hardware" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <script type="application/ld+json">
    {"name":"{{ page.titel}}","description":"{{ page.desc}}","author": "{{ page.author-name}}","@type":"OSHW","url":"{{site.url}}{{ page.url }}","publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"{{ site.logo}}"}},"image":null,"headline":"{{ page.titel }}","dateModified":"{{ page.date }}","datePublished":"{{ page.date}}","sameAs":"","mainEntityOfPage":{"@type":"WebPage","@id":"{{ page.url}}"},"@context":"http://schema.org"}</script>
    {% else %}
    {% seo %}
    {% endif %}

</head>
<body>
  <style>
  html {
    touch-action: manipulation;
}
  </style>
{% include header.liquid %}
{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <h3>
        {{#date}}<small><time datetime="{{pubdate}}" pubdate>{{displaydate}}</time></small>{{/date}}
        <a href="{{url}}">{{title}}</a>
      </h3>
      {{#is_post}}
      <ul>
        {{#tags}}<li>{{.}} </li>{{/tags}}
      </ul>
      {{/is_post}}
    </article>
  {{/entries}}
</script>
{% endraw %}
<div class="page-wrap">
    <section id="search-results" style="display: none;"> </section>
    {{ content }}
</div>
{% include footer.liquid %}
